
<div class="sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Watphasom</li>
    	<li ng-class="{true: 'active'}[menuActive('/addProduct')]">
        	<a href="#/addProduct"  ng-show="hasRole('admin')">Add Product</a>
    	</li>
    	<li ng-class="{true: 'active'}[menuActive('/listProduct')]">
        	<a href="#/listProduct">All products</a>
    	</li>
      <li ng-class="{true: 'active'}[menuActive('/shoppingCart')]">
        <a href="#/shoppingCart" ng-show="hasRole('user')">Your cart</a>
      </li>
    </ul>
</div><!--/.well -->
